@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.signInDiv {
	margin: 20% auto;
	width: fit-content;
	background-color: white;
	padding: 35px 60px;
	border-radius: 5px;
}

.signInBtn {
	background-color: white;
	display: flex;
	padding: 10px 20px;
	border-radius: 5px;
	border:none;
	box-shadow: gray 1px 1px 2px 2px;
	color: rgb(104, 104, 104);
	font-family: 'Roboto', sans-serif;
	margin-top:20px;
}
.signInBtn:hover {
	background-color: rgb(0, 174, 255);
	color: white;
}

.signInBtn label {
	margin-left: 15px;
	font-size: 20px;
}

.logo {
	height: 25px;
	width: 25px;
	background-image: url('../../assets/googleImg-25x25.png');
}
.innerLogo {
	max-width: 100%;
	max-height: 100%;
}

.landing{
	margin-top: 65px;
}

.landing img{
	width:100%;
}

.landing section{
	display: grid;
	grid-template-columns: 1fr 1.5fr;

}

.section-one{
	padding-left:50px;
}

.section-title{
	margin-top:10rem;
	font-size: 2rem;
	font-weight: 500;
}

@media only screen and (max-width: 1000px) {
	
.landing section{
	display: flex;
	grid-template-columns:unset;
	flex-direction: column-reverse;
}

.section-title{
	margin-top:1rem;
	
}
  }