.studentClass{
    height: 125px;
    margin: 5px 5px;
    padding: 20px 20px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 0px rgb(117, 116, 116);
    -moz-box-shadow: 1px 1px 5px 0px rgb(117, 116, 116);
    box-shadow: 1px 1px 5px 0px rgb(117, 116, 116);
}

.studentClass_delete{
   float: left;
    background-color: rgb(216,53,53);   
}

.studentClass_viewClass{
    background-color: #6b9fe3;
}
.studentClass_viewClassDiv{
    float: right;
}
.studentClassCard{
    float: left;
    min-height: 100px;
    width: 250px;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 0px rgb(117, 116, 116);
    -moz-box-shadow: 1px 1px 5px 0px rgb(117, 116, 116);
    box-shadow: 1px 1px 5px 0px rgb(117, 116, 116);
}
.studentClassSubHead{
    padding: 5px 10px;
}
.studentClassHead{
    padding: 10px 10px;
}
.studentClassButtons{
    margin:15px;
    display:inline-flex;
    padding: 0px;
}
.studentClassButtons button{
    width: 30px;
    height: 30px;
    border-radius: 5%;
}