.addClass_background{
    position:absolute;
    z-index: 2;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.25;
}
.addClass_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background-color: white;
    padding: 20px 20px;
    border-radius: 5px;
}
.addClass_content form{
    display: flex;
    flex-direction: column;
   
}
.addClass_content form input{
 margin-top: 5px;
 font-size: 20px;
 width: 500px;
 padding: 10px;
 border: 1px solid var(--primary-color);
 border-radius: 5px;
}
.addClass_content form button{
    margin-top: 10px;
    background-color: var(--secondary-color);
}