.courseAssignment{
    height: fit-content;
    width: 100%;
    margin-bottom: 25px;
}
.Classes{
    margin-top: 70px;
}
.assignments{
    max-height: 350px;
    overflow-y: scroll;
    height: fit-content;
    margin-top: 35px;
    margin-left: 35px;
}
.addCourseTeacher{
    display: grid;
    margin: 15px 10px;
}
.addCourseTeacher h2{
    grid-column-start: 1;
}

.searchResultsBox{
    position: relative;
}

.searchResultsBox > div{
    position: absolute;
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 5px 0px rgb(160, 160, 160);;
}

.searchResultsBox input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
.searchResultsBox input[type=text]:focus {
    width: 100%
  }

  .Classes{
      width: 100%;
      height: fit-content;
  }
  .ViewClasses{
    max-height: 350px;
    overflow-y: scroll;
    width: 100%;
  }
  .searchResultsBox{
     grid-column-start: 2;
     float: right;
  }