.teacherHome_container{
    width: 100%;
    height: 100%;
    background-color: white;
}
.teacherPanel_container {
    width: 100%;
    height: 100%;
    margin: auto;
    background-color: white;
}

.teacherPanel_center {
    display: block;
    text-align: right;
}


.teacherPanel_menu {
    background-color: white;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 5px 5px ;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-bottom: 30px;
}

.teacherPanel_menu__right {
    display: flex;
    align-items: center;
    height: 100%;
}

.teacherPanel_menu__list {
    list-style-type: none;
    padding: 0;
    height: 100%;
    margin: 0;
    margin-right: 10px;
}

.teacherPanel_menu__list-item {
    display: inline-block;
    height: 100%;
    margin-right: 20px;
}

.teacherPanel_menu__list-item:last-child {
    margin-right: 0;
}

.teacherPanel_menu__link {
    color: #3a3e47;
    display: inline-block;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
    cursor: pointer;
    transition: all 0.1s;
}

.teacherPanel_menu__link:hover {
    color: #ffaa3b;
}

.teacherPanel_menu__link--active {
    color: #ffaa3b;
    border-top: 4px solid #ffaa3b;
    font-weight: 700;
}

.teacherPanel_menu__logo {
    display: flex;
    height: 100%;
    width: 92px;
    align-items: center;
    background-size: cover 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.teacherHome_colorBox {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, var(--primary-color) 20%, rgba(0,212,255,1) 80%);
    border-radius: 8px;
    width: 75%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
}

.teacherHome_colorBox-text{
    color: white;
    text-align: center;
    margin: 45px 20px;
}

.teacherHome_classes_courses{
    margin-top: 10px;
    background: white;
    border-radius: 4px;
    width:100%;
    height: fit-content;
    display: flex;
    float: left;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
    margin-top: 15px;
    margin-left: 15px;
}
.teacherHome_courses {
    background: white;
    border-radius: 4px;
    width: 100%;
    height: fit-content;
    position: relative;
    float: left;
    text-align: left;
   
}
.teacherHome_classes{
    background: white;
    border-radius: 4px;
    width: 100%;
    height: fit-content;
    position: relative;
    float: left;
    text-align: left;

}

.teacherHome_deadlines{
    text-align: left;
    margin-top: 10px;
    background: white;
    border-radius: 4px;
    width:100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    position: relative;
    margin-top: 15px;
    grid-row: 1/3;
    grid-column: 2/3;
}

.teacherHome_material{
  width: 75%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
}
