.signInDiv {
	margin: 20% auto;
	width: fit-content;
	background-color: white;
	padding: 35px 60px;
	border-radius: 5px;
}

.signInBtn {
	background-color: white;
	display: flex;
	padding: 10px 20px;
	border-radius: 5px;
}
.signInBtn:hover {
	background-color: rgb(0, 174, 255);
}

.signInBtn label {
	margin-left: 15px;
	font-size: 20px;
}

.logo {
	height: 25px;
	width: 25px;
	background-image: url('../../assets/googleImg-25x25.png');
}
.innerLogo {
	max-width: 100%;
	max-height: 100%;
}
