.teacherCard{
    height: 125px;
    margin: 5px 5px;
    padding: 20px 20px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 0px rgb(117, 116, 116);
    -moz-box-shadow: 1px 1px 5px 0px rgb(117, 116, 116);
    box-shadow: 1px 1px 5px 0px rgb(117, 116, 116);
}
.teacherCard_info{
    float: left;
    display: grid;
    grid-template-columns: 150px 300px;
}
.teacherCard_letter{
    border-right: 1px solid grey;
    grid-row: 1/3;
    font-size: 35px;
    padding-right: 10px;
}
.teacherCard_name{
    padding-left: 10px;
    font-size: 25px;
    
}
.teacherCard_desc{
    padding-left: 10px;
    font-size:15px;
    grid-column: 2/3;
}
.teacherCard_buttons{
    margin-top:25px;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-row-gap: 5px;
    grid-column-gap: 2px ;
    float:right;
}
.teacherCard_delete{

    background-color: rgb(216,53,53);   
}
.teacherCard_createClass{
    background-color: slateblue;
}
.teacherCard_update{
    background-color: #89db5a;
}
.teacherCard_viewClass{
    background-color: #6b9fe3;
}