div.vis-tooltip {
  position: absolute;
  visibility: hidden;
  padding: 5px;
  white-space: nowrap;
  color: #000000;
  background-color: #f5f4ed;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #808074;

  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  pointer-events: none;

  z-index: 5;
}
.matchTable {
  margin: auto;
  width: 80%;
  border: 2px solid black;
  text-align: center;
}
.matchTable td,
th {
  padding: 0.5rem;
}
tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.percent {
  width: 1%;
  white-space: nowrap;
}
.matchTable td {
  border-bottom: 2px solid lightgrey;
}
.rejectReport {
  margin-top: 100px;
  padding-top: 3rem;
  text-align: center;
  width: auto;
}
.rejectReport p {
  font-weight: 600;
  margin-bottom: 2rem;
}
.rejectReport ul {
  list-style-type: circle;
}
.reasons {
  margin-left: 38%;
}
