.assignmentCard{
    float: left;
    min-height: 100px;
    width: 250px;
    margin: 15px;
    background-color: white;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 5px 0px rgb(117, 116, 116);
    -moz-box-shadow: 1px 1px 5px 0px rgb(117, 116, 116);
    box-shadow: 1px 1px 5px 0px rgb(117, 116, 116);
}
.assignmentSubHead{
    padding: 5px 10px;
}
.assignmentHead{
    padding: 10px 10px;
}