
/*Assignment */
.studentAssignment{
    margin-bottom:10px;
    background-color: white;
    display: grid;
    width: 100%;
}
.assignmentList{

    background-color: var(--primary-color);
    text-align: left;
}
.assignmentHeader{
    color: black;
    display: flex;
    background-color: white;
}
.goBackDiv{
    float: right;
}
.goBackBtn{
    text-decoration: none;
    background-color: var(--secondary-color);
    margin-top: 10px;
}
