.custom-dropdown{
	position: relative;
}

.custom-dropdown > .custom-dropdown-header{
	background-color: white;
    margin-top: 5px;
    font-size: 20px;
    width: 500px;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    transition: border-color 150ms ease-out;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
}

.custom-dropdown > .custom-dropdown-list-wrapper{
	position: absolute;
	width:100%;
	border: 1px solid var(--primary-color);
	border-top-color: white;
	border-radius: 5px;
	box-shadow:  1px 1px 5px 0px rgba(240,240,240,1);
	max-height: 250px;
	overflow-y: scroll;
}


.custom-dropdown > .custom-dropdown-list-wrapper > .custom-dropdown-list{
	width:100%;
	margin:0;
}

.custom-dropdown > .custom-dropdown-list-wrapper > .custom-dropdown-list > .custom-dropdown-item{
	padding:6px 5px;
	font-size: 14px;
	cursor: pointer;
	background-color: white;
	list-style-type: none;
}

.custom-dropdown > .custom-dropdown-list-wrapper > .custom-dropdown-list > .custom-dropdown-item:hover{
	background-color: #f3f6fb;
}

.custom-dropdown > .custom-dropdown-list-wrapper > .custom-dropdown-list > .custom-dropdown-item:not(:last-child){
	box-shadow:  1px 1px 5px 0px rgba(240,240,240,1);
}